*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    height: 100vh;
}

/**
 * Location bar.
 * ================================================================================
 */
#location-container {
    display: flex;
    flex-direction: row;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    height: 48px;
    padding: 8px;
}

#method,
#url,
#send {
    border: 1px solid #ddd;
    height: 100%;
}

#url {
    margin-left: 8px;
    margin-right: 8px;
    width: 100%;
}

#send {
    cursor: pointer;
}

#main-container {
    display: flex;
    flex-direction: row;
    height: calc(100% - 48px);
}

/**
 * Request area.
 * ================================================================================
 */
#request-container {
    border-right: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    overflow: auto;
    width: 50%;
}
#request-headers,
#request-body {
    padding: 8px;
    height: 50%;
}

#request-body {
    border-top: 1px solid #ddd;
}

#request-headers-placeholder,
#request-body-placeholder {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
    cursor: text;
}

#request-headers-content,
#request-body-content {
    font-family: monospace;
    display: none;
    height: 100%;
    margin: 0;
    padding: 0;
    white-space: pre-wrap;
    outline: none;
}

/**
 * Response area.
 * ================================================================================
 */

#response-container {
    width: 50%;
}

#response-container {
    flex: 1;
    overflow: auto;
    padding: 8px 8px 8px 2px;
}

#response-placeholder {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
}

#response-content {
    margin: 0;
    padding: 0;
    white-space: pre-wrap;
}

#resizer {
    width: 6px;
    flex-shrink: 0;
    cursor: col-resize;
}
